<form class="signup-form">
    <div class="form-group">
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" name="username" required>
    </div>
    <div class="form-group">
        <label for="email-signup">Email</label>
        <input type="email" id="email-signup" name="email" required>
    </div>
    <div class="form-group">
        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" name="password" required>
    </div>
    <div class="form-group">
        <label for="confirm-password-signup">Confirm Password</label>
        <input type="password" id="confirm-password-signup" name="confirm-password" required>
    </div>
    <button type="submit" class="btn-signup">Sign Up!</button>
    <div class="login-link">
        <p>Already have an account? <a href="/login">Sign in instead</a></p>
    </div>
</form>
<script src="/js/signup.js"></script>
